<title>GCCNUS</title>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <%= link_to post_path do %>
                    <h2 class="post-title">
                        From this day, GCC NUS is offitially founded.
                    </h2>
                    <h3 class="post-subtitle">
                        we start our journey this day
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">GCC-NUS</a> on August 23, 2015</p>
            </div>
            <hr>
            <div class="post-preview">
                <%= link_to post_path do %>
                    <h2 class="post-title">
                        Asean China Case Competition
                    </h2>
                    <h3 class="post-subtitle">
                        we start our journey this day
                        You can sign up for Asean China Case Competition! You have a chane to win a large amount of money as well as internship opportunities.
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">GCC-NUS</a> on September 18, 2015</p>
            </div>
            <hr>
            <div class="post-preview">
                <%= link_to post_path do %>
                    <h2 class="post-title">
                        Investment bank/Consultation sharing session
                    </h2>
                    <h3 class="post-subtitle">
                    At NUS Business School BZ2 3-17, we invited Charles, Forrest, Johnthan, Justin, Simon, Vincent and Xin to share their experience in investment banking. You can signup via the google links.                    
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">GCC-NUS</a> on December 19, 2015</p>
            </div>
            <hr>
            <div class="post-preview">
                <%= link_to post_path do %>
                    <h2 class="post-title">
                        Hongkong Trip during NUS recess week
                    </h2>
                    <h3 class="post-subtitle">
                        A two-days trips to Hong Kong. Negotiating with lots of banks and there will be bunches of networking opportunities! 
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">GCC-NUS</a> on January 17, 2016</p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<br>

<%= render 'footer' %>